.container1{
	text-align:center;
}

hr{
	border:none;
}

.container1 p{
	background-color:lightseagreen;
	padding:10px 0 10px 0;
	padding:10px 0 10px 0;
	color:white;
}

.container1 hr{
	height:2px;
	background-color:lightseagreen;
}
	
.container2 hr, .container3 hr, .container4 hr, .container6 hr{
	height:5px;
	background-color:lightseagreen;
}

.container3 p{
	text-align:center;
}
.bbb{
	float:right;
}

.ccc{
	float:right;
}
